* {
    box-sizing: border-box;
    /* for now, voy a agregar las sgtes declaraciones:*/
    margin: 0;
    padding: 0;
}

/* Establezco la paleta de colores que será en disposición de TRIADA*/
:root {
    --pri-white: #F7F7F7;
    --pri-black: #0F0F0F;
    --pri-blue: #35588F;
    --pri-red: #DE1B0D;
    --pri-green: #6FD982;
    --sec-black: #212121;
    --sec-blue: #C0CFF0;
    --manz-grad: linear-gradient(#233, indigo);
    --sm: 1.8rem;
    --md: 2.2rem;
    --lg: 2.8rem;
}

/* Establezco 1 rem == 10 px */
html {
    font-size: 62.5%;
}
body {
    font-size: var(--sm);
    font-family: 'Barlow', sans-serif;
}

/* Ver en markdown WIP on day 16-02-23*/

.hd-ppal {
    display: flex;
    gap: 4rem;
    justify-content: space-around;
    align-items: center;
    width: 95vw;
    height: 30vh;
    margin: 0 auto 0.8rem;
    padding: 1.0rem;
    background: var(--manz-grad);
    /* border: 0.1rem solid var(--pri-black); */
    box-shadow: 0 0.2rem 0.6rem 0.1rem var(--pri-black);
}
.hd-ppal__logo {
    /* display: flex; */
    width: 30vw;
    height: 20vh;
    /* background-color: var(--pri-blue); */
}
.hd-ppal__container {
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 22vh;
    justify-content: space-around;
    gap: 1.8rem;
}
.hd-ppal__title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
    height: 45px;
    color: var(--pri-white);
    font-size: var(--lg);
    background-color: var(--sec-black);
    box-shadow: 0 0 1.0rem 0.2rem var(--pri-white);
    opacity: 0.85;
    border-radius: 1.2rem;
}
.hd-ppal__title:hover {
    opacity: 1.0;
}
.hd-ppal__list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 1.0rem;
    list-style: none;
    width: 70vw;
    height: 65px;
    background-color: var(--sec-black);
    box-shadow: 0 0 1.0rem 0.2rem var(--pri-white);
    opacity: 0.85;
    border-radius: 1.2rem;
}
.hd-ppal__list:hover {
    opacity: 1.0;
}
.hd-ppal__item {
    cursor: pointer;
}
.hd-ppal__link {
    color: var(--pri-white);
    text-decoration: none;
    font-size: var(--md);
}
.hd-ppal__link:hover {
    color: var(--sec-blue);
    font-weight: bolder;
}
.hd-ppal__logo {
    width: 150px;
    height: 150px;
    background-image: url('./assets/imgs/logo-jpg-200-200.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* border: 0.1rem solid var(--sec-black); */
    border-radius: 1.2rem;
    box-shadow: 0 0 1.0rem 0.2rem var(--pri-white);
}

/* Pruebo el linear-gradient del MANZ en el body*/
.main-ppal {
    display: flex;
    width: 95vw;
    height: 120rem;
    margin: 0 auto 0.8rem;
    background: linear-gradient(#233, indigo);
    box-shadow: 0 0.2rem 0.6rem 0.1rem var(--pri-black);
    color: var(--pri-white);
}
.aside__title {
    display: inline-block;
    width: 25vw;
    height: 10vh;
    min-width: 20rem;
    /* margin-bottom: 1rem; */
    font-size: var(--lg);
    text-align: center;
    color: var(--pri-blue);
    background: var(--pri-white);
    text-shadow: 0 0.2rem 0.6rem var(--sec-black);
}
.main-ppal__aside {
    display: flex;
    flex-direction: column;
    width: 25vw;
    height: 60vh;
    min-width: 20rem;
    /* justify-content: space-evenly; */
    align-items: center;
    color: var(--sec-black);
    background: var(--sec-blue);
}
.aside__container {
    display: inline-block;
    width: 25vw;
    height: 50vh;
    min-width: 20rem;
    text-align: center;
    background: var(--sec-black);
}
.aside__tag {
    display: inline-block;
    width: 25vw;
    height: 3.0rem;
    min-width: 20rem;
    margin-top: 0.1rem;
    font-size: var(--sm);
    font-weight: bolder;
    text-align: center;
    color: var(--pri-blue);
    background: var(--pri-green);
}
.aside__input {
    display: inline-block;
    width: 20rem;
    height: 3.0rem;
    min-width: 20rem;
}
.aside__button {
    display: inline-block;
    width: 20.0rem;
    height: 3.0rem;
    font-size: var(--sm);
    border: none;
    border-radius: 0.2rem;
    color: var(--pri-white);
    background: var(--manz-grad);
}
.aside__button:hover {
    color: var(--pri-blue);
    background: var(--sec-blue);
    font-weight: bolder;
    cursor: pointer;
}
.aside__details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 3.0rem;
    width: 25vw;
    min-width: 20rem;
    height: 20rem;
}

.aside__title--details {
    width: 25vw;
    min-width: 20rem;
    margin-top: 1.0rem;
    font-size: var(--sm);
    color: var(--pri-white);
}

.aside__info {
    display: inline-block;
    width: 25vw;
    height: 3.0rem;
    min-width: 20rem;
    padding-top: 1.0rem;
    padding-left: 1.0rem;
    font-size: var(--sm);
    text-align: start;
    color: var(--sec-blue);
}
.aside__summary--p {
    display: inline-block;
    position: absolute;
    width: 25.0rem;
    /* height: 10.0rem; */
    /* min-width: 20rem; */
    padding: 0.2rem;
    font-size: var(--sm);
    text-align: center;
    background-color: var(--pri-red);
    box-shadow: 0 0 1.0rem 0.2rem var(--sec-black);
    border-radius: 0.2rem;
}

/* WIP in main and sections*/
.section-ppal {
    display: flex;
    flex-direction: column;
    width: 70vw;
    min-width: 65rem;
    height: 120rem;
    background: var(--sec-black);
}

.section-one__title {
    display: inline-block;
    width: 100%;
    height: 10vh;
    min-width: 25rem;
    padding-top: 1.5rem;
    /* margin-bottom: 1rem; */
    font-size: var(--lg);
    text-align: center;
    color: var(--pri-blue);
    background: var(--pri-white);
    text-shadow: 0 0.2rem 0.6rem var(--sec-black);
}
.section-one {
    display: flex;
    /* row-gap: 3.0rem; */
    width: 100%;
    height: 25vh;
    gap: 2.0rem;
    padding: 1.5rem;
}

.section-two {
    display: grid;
    place-items: center;
    grid-template-areas:
        "a a"
        "b b"
        "c d";
    grid-template-rows: 20rem 40rem 30rem;
    row-gap: 1.0rem;
    width: 70vw;
    height: 95rem;
    /* background: var(--pri-blue); */
}

.section-two .image-a-one {
    display: block;
    grid-area: a;
    min-width: 65rem;
    max-width: 69vw;
    height: 20rem;
    object-fit: cover;
    border: 0.3rem solid var(--sec-black);
}
.section-two .image-b-two {
    display: block;
    grid-area: b;
    min-width: 65rem;
    max-width: 69vw;
    height: 40rem;
    object-fit: cover;
    border: 0.3rem solid var(--sec-black);
}
.section-two .image-c-three {
    display: block;
    grid-area: c;
    min-width: 30rem;
    max-width: 35vw;
    height: 30rem;
    object-fit: contain;
    border: 0.3rem solid var(--sec-black);
}
.section-two .image-d-four {
    display: block;
    grid-area: d;
    min-width: 30rem;
    max-width: 35vw;
    height: 30rem;
    object-fit: contain;
    border: 0.3rem solid var(--sec-black);
}

/* Al Fin!! El footer*/